* {
    font-family: "Monocraft Nerd Font";
    font-size: 14.7px;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0);
}

window#waybar {
    background-color: rgba(11, 11, 11, 0.828);
    padding-left: 30px;
    border-radius: 10px;
    border: 1.5px solid rgba(255, 255, 255, 0.153);
}

.modules-left {
    background-color: transparent;
    border-radius: 10px;
    padding: 0px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.modules-center {
    margin-top: 5px;
    margin-bottom: 5px;
}

.modules-right {
    background-color: transparent;
    border-radius: 10px;
    padding: 0px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    border: none;
}
/* ESPACIO DE TRABAJO */
#workspaces {
    background-color: transparent;
    outline: none;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    transition: color 0.3s ease-out,padding 0.3s ease-out, background-color 0.3s ease-out, border 0.3s ease-out;
}

#workspaces button {
    outline: none;
    padding: 4px 7px 4px 7px;
    background-color: #2C2C2C;
    border-radius: 10px;
    margin: 3px 4px 3px 4px;
    color: #cecece;
    transition: color 0.3s ease-out,padding 0.3s ease-out, background-color 0.3s ease-out, border 0.3s ease-out;
}

#workspaces button.active {
    color: #cecece;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(152, 152, 152, 0.4);
    transition: color 0.3s ease-out,padding 0.3s ease-out, background-color 0.3s ease-out, border 0.3s ease-out;
}

#workspaces button.urgent {
    color: #dfbbbb;
    border-color: #dfbbbb;
    transition: color 0.3s ease-out,border-color 0.3s ease-out;
}
/*RELOJ*/
#clock {
    padding: 4px 7px 4px 7px;
    margin: 3px;
    border-radius: 10px;
    color: #cecece;
    background-color: #2C2C2C;
    transition: background-color 0.3s ease-out, color 0.3s ease-out, box-shadow 0.3s ease-out,border 0.3s ease-out;
}

#clock:hover {
    background-color: rgba(152, 152, 152, 0.4);
    transition: all 0.3s ease-out;
}

/*BATERIA*/
#battery {
    padding: 4px 15px 4px 7px;
    margin: 3px;
    border-radius: 10px;
    color: #cecece;
    background-color: #2C2C2C;
    transition: background-color 0.3s ease-out, color 0.3s ease-out, box-shadow 0.3s ease-out,border 0.3s ease-out;
}
#battery:hover {
    background-color: rgba(152, 152, 152, 0.4);
    transition: all 0.3s ease-out;
}

#battery.charging, #battery.plugged {
    padding: 2px;
    margin: 3px;
    color: #cecece;
    background-color: #2C2C2C;
    transition: background-color 0.3s ease-out, color 0.3s ease-out, box-shadow 0.3s ease-out;
}

#battery.critical:not(.charging) {
    padding: 2px;
    margin: 3px;
    background-color: #2C2C2C;
    transition: background-color 0.3s ease-out, color 0.3s ease-out, box-shadow 0.3s ease-out;
    color: #cecece;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/*MODO DE BATERÍA*/
#power-profiles-daemon {
    background-color: #2C2C2C; 
    border-radius: 10px;
    margin: 3px;
}

#power-profiles-daemon.performance {
    padding: 3px 9px 3px 6.5px;
    border: 1.5px solid #d8aab0;
    color: #d8aab0;
    transition: border 0.3s ease-out, color 0.3s ease-out;
    
}


#power-profiles-daemon.balanced {
    padding: 3px 9px 3px 6.5px;
    border: 1.5px solid #aabfd8;
    color: #aabfd8;
    transition: border 0.3s ease-out, color 0.3s ease-out;
}

#power-profiles-daemon.power-saver {
    padding: 3px 9px 3px 6.5px;
    border: 1.5px solid #b7d8aa;
    color: #b7d8aa;
    transition: border 0.3s ease-out, color 0.3s ease-out;
}

/*RED*/
#network {
    font-size: 20px;
    padding: 0 12px 0 7px;
    margin: 3px;
    border-radius: 10px;
    color: #cecece;
    background-color: #2C2C2C;
    border: 1.5px solid #cecece;
    transition: background-color 0.3s ease-out, color 0.3s ease-out, box-shadow 0.3s ease-out;
}

tooltip {
    border: 1px solid #cecece;
    color: #cecece;
    background-color: rgba(67, 67, 67, 0.491);
}

tooltip label {
    color: #cecece;
}

#network.disconnected {
    padding: 2px;
    margin: 3px;
    border-radius: 10px;
    color: #670000;
    background-color: #2C2C2C;
    transition: background-color 0.3s ease-out, color 0.3s ease-out, box-shadow 0.3s ease-out;
}
/*AUDIO*/
#pulseaudio {
    padding: 4px 7px 4px 7px;
    margin: 3px;
    border-radius: 10px;
    color: #cecece;
    background-color: #2C2C2C;
    transition: background-color 0.3s ease-out, color 0.3s ease-out, box-shadow 0.3s ease-out,border 0.3s ease-out;
}

#pulseaudio:hover {
    background-color: rgba(152, 152, 152, 0.4);
    transition: all 0.3s ease-out;
}

#pulseaudio.muted {
    padding: 3px;
    margin: 3px;
    border-radius: 10px;
    color: #cecece;
    background-color: #2C2C2C;
}

/*Notificaciones*/

#custom-notification {
    margin: 3px;
    padding: 3px 9px 3px 6.5px;
    border: 1.5px solid #2C2C2C;
    border-radius: 10px;
    color: #cecece;
    transition: border 0.3s ease-out;
}

#custom-notification.notification {
    border-color: #cecece;
    color: #cecece;
    transition: border 0.3s ease-out;
}

#custom-notification.dnd-notification {
    border-color: #cecece;
    color: #cecece;
    transition: border 0.3s ease-out;
}

#custom-notification.inhibited-notification {
    padding: 0.01px 9px 0px 6.5px;
    font-size: 16.7px;
    border-color: #cecece;;
    color: #cecece;
    transition: border 0.3s ease-out;
}

#custom-notification.dnd-inhibited-notification {
    padding: 0.01px 9px 0px 6.5px;
    font-size: 16.7px;
    border-color: #cecece;;
    color: #cecece;
    transition: border 0.3s ease-out;
}

/*
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
padding: 0 10px;
color: #ffffff;
}
*/
/*
#memory {
    background-color: #9b59b6;
}
#cpu {
    background-color: #2ecc71;
    color: #000000;
}
#disk {
    background-color: #964B00;
}
#backlight {
    background-color: #90b1b1;
}

*/

/*


#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}


#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#temperature {
    background-color: #f0932b;
}

#tray {
    background-color: #2980b9;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}


#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}


#privacy {
    padding: 0;
}
*/
/* UNUSED: #wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
} */

/* UNUSED: #cpu {
    background-color: #2ecc71;
    color: #000000;
} */

/* UNUSED: #memory {
    background-color: #9b59b6;
} */

/* UNUSED: #disk {
    background-color: #964B00;
} */

/* UNUSED: #backlight {
    background-color: #90b1b1;
} */


/* UNUSED: #custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
} */


/* UNUSED: #temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
} */


/* UNUSED: #tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
} */

/* UNUSED: #idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
} */

/* UNUSED: #mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
} */


/* UNUSED: #language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
} */


/* UNUSED: #keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
} */

/* UNUSED: #scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
} */

/* UNUSED: #privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
} */
